.page{
    background-color:azure;
    height: 100%;
}
.page-layout
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    height: 100%;
}

.balance
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    align-items: center;
}


